@import './styles/normalize';

.app {
  padding: 1em;
}

.adopt-a-cat-form {
  text-align: center;
  font-size: 2em;
  input {
    padding: 0.3em;
  }
}

.cat-crates {
  display: flex;
  flex-flow: row wrap;
  padding: 1em 0;
}
